@model FinalProject1ForMVC.Models.Userlogin1
@{ 
    
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    body{
        width:100%;
        font-family:cursive;
    }
    form{
        padding:30px;
        margin-left:12px;
        text-align:center;
        width:500px;
        height:350px;
        background-color:lightgray;
    }
    .form-group{
        margin-top:80px;
    }
    .form-control {
        width:400px;
     margin-left:30px;
    }
   
</style>
<h1 style="margin-top:190px"></h1>





<section class="sectionPassword">
    <div class="container1 " style="align-items:center;">
        <h2 style="margin:20px; color:burlywood">Change password</h2>
        <div class="row">
            <div>

                <form class="form" asp-action="ChangePassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Userloginid" />
                    <div class="form-group">
                        @*<label asp-for="Username" class="control-label"></label>*@
                        <input asp-for="Username" type="hidden" class="form-control" />
                        @*<span asp-validation-for="Username" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="Roleid" class="control-label"></label>*@
                        <input asp-for="Roleid" type="hidden" class="form-control">@ViewData["Roleid"]</input>
                        @*<span asp-validation-for="Roleid" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        @*<label asp-for="Customerid" class="control-label"></label>*@
                        <input asp-for="Customerid" type="hidden" class="form-control">@ViewData["Customerid"]</input>
                        @*<span asp-validation-for="Customerid" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>


            </div>
        </div>
    </div>
</section>


<h1 style="margin:40px"></h1>