@*@model IEnumerable<FinalProject1ForMVC.Models.Customer1>;*@
@model FinalProject1ForMVC.Models.Customer1

@{ Layout = "~/Views/Shared/_AdminLayout.cshtml";}


<div class="content">
    <div class="container-fluid">
        <div class="row">




            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:;">
                            <img class="img" src="~/images/homeImage/avatar.svg"  width="250px" height="250px"/>
                        </a>
                    </div>
                    <!--<div class="card-body">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">@ViewBag.Fname  @ViewBag.Lname</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>-->
                        @*<form asp-action="UserProfile" method="post">
                            <a href="javascript:;" class="btn btn-primary btn-round" a">Edit password</a>
                        </form>*@
                    <!--<form asp-controller="Customer1" asp-action="Edit" asp-route-id=@ViewBag.id  method="post">
                        <div>
                            <button  class="btn btn-outline-info">Edit profile</button>
                        </div>
                    </form>

                        <form asp-controller="Admin" asp-action="UserProfile" asp-route-id=@ViewBag.id method="post">
                            <div>
                                <button class="btn btn-outline-danger" >Change Password</button>
                            </div>
                        </form>

                    </div>-->

                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">

                <h1 style="text-align:center; color:darkblue"> Edit Profile</h1>

                <section class="sectionInfoUser">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                @*<h3 style="text-align:center;">Edit Information</h3>*@

                                <form asp-controller="Customer1" asp-action="Edit" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="Customerid" />
                                    <div class="form-group">
                                        <label asp-for="Fname" class="control-label">First name</label>
                                        <input asp-for="Fname" class="form-control" style=" border: 2px solid black;" />
                                        <span asp-validation-for="Fname" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Lname" class="control-label">Last name</label>
                                        <input asp-for="Lname" class="form-control" />
                                        <span asp-validation-for="Lname" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Phone" class="control-label">Phone</label>
                                        <input asp-for="Phone" class="form-control" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Address" class="control-label">Address</label>
                                        <input asp-for="Address" class="form-control" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>

                </section>

            </div>

        </div>
    </div>
</div>
